<!doctype html>
<html lang = "es">

<head>
    <title>Sistema De Empleados</title>
    <link rel="stylesheet" href="estilos.css">


</head>

<body>

    <header>

    </header>

    <main>
        <form>
            <div>
                <label for="txtNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="txtNombre" id="txtNombre"  placeholder="Ingrese su Nombre">

            </div>
        </form>

    </main>

    <footer>


    </footer>

</body>





</html>